.idea/
.vscode/
.DS_Store

.venv/
__pycache__/
*.egg-info

.env
.env.test

# sphinx
docs/build/
docs/_build/
docs/.doctrees/
docs/**/*.spelling

# coverage
htmlcov/
.coverage


# code-index
.code_index.cache/
